*.o
*.a
*.so
.idea
*.pyc
build/*.deb
build/*.rpm
build/*.sh
build/*.tar.gz
build/CMakeCache.txt
build/CMakeFiles/*
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/cmake_install.cmake
build/microservices/*
build/_CPack_Packages/*
build/*.txt
build/*.tar.Z
build/*.spec
build/debian-binary
tests/.env
