IRODS_USER=rods
IRODS_RESC=demoResc
IRODS_ZONE=tempZone
IRODS_COLL_ABS_PATH=/tempZone/home/rods
IRODS_ETC_DIR=/etc/irods
IRODS_SERVER_CONFIG_FILE_NAME=server_config.json
MSI_PACKAGE_VERSION=1.3.0
IRODS_42=True
GET_VERSION_RULE_FILE=mlxGetVersion.r
BAM_RULE_FILE=mlxExtractMetadataBam.r
JPEG_RULE_FILE=mlxExtractMetadataJpeg.r
ILLUMINA_RULE_FILE=mlxExtractMetadataIllumina.r
POPULATE_RULE_FILE=mlxPopulate.r
MANIFEST_RULE_FILE=mlxManifest.r
GET_MICROSERVICES_RULE_FILE=mlxGetMicroservices.r
RULE_DEPLOYMENT_RULE_FILE=mlxRuleDeployment.r
RULE_CACHE_DIR_NAME=.rulecache
METALNX_MSIS_INSTALLED=libmsiget_illumina_meta.so,libmsiobjget_microservices.so,libmsiobjget_version.so,libmsiobjjpeg_extract.so,libmsiobjput_mdbam.so,libmsiobjput_mdmanifest.so,libmsiobjput_mdvcf.so,libmsiobjput_populate.so
IRODS_MSIS_INSTALLED=libmsiobjget_http.so,libmsiobjget_irods.so,libmsiobjget_slink.so,libmsiobjput_http.so,libmsiobjput_irods.so,libmsiobjput_slink.so,libmsisync_to_archive.so,libmsi_update_unixfilesystem_resource_free_space.so
IRODS_42_MSIS_INSTALLED=libmsi_update_unixfilesystem_resource_free_space.so,libmsisync_to_archive.so
